[user]
	name = Numbnet
	email = zusyurec@gmail.com
	TOKEN = 4aa0b6733a18dac8b9666778559c085f1cb8f22c
#	key = 4aa0b6733a18dac8b9666778559c085f1cb8f22c
#	password = 4aa0b6733a18dac8b9666778559c085f1cb8f22c
[core]
	quotepath = off
	autocrlf = false
	safecrlf = false
	editor = nano
[credential]
	helper = store
[commit]
	template = /data/data/com.termux/files/home/.gitmessage.txt
